spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/ledgerdb
    username: ledgeruser
    password: ledgerpass

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
